<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Transaction</title>
</head>
<body>
    <h1>Add a New Transaction</h1>
    <form action="{{ url_for('transaction_routes.add_transaction') }}" method="POST">
        <label for="description">Description:</label>
        <input type="text" name="description" required>

        <label for="date">Date:</label>
        <input type="text" name="date" placeholder="DD-MM-YYYY" required>

        <label for="debit">Debit:</label>
        <input type="number" name="debit">

        <label for="credit">Credit:</label>
        <input type="number" name="credit">

        <button type="submit">Submit</button>
    </form>
</body>
</html>
